/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

#introDialog {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 50ch;
  max-width: 92%;
  max-height: 96%;
  overflow: auto;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
  border: 0;
  margin: auto;
  padding: .5em;
  border-radius: 5px;
}

@media all and (max-height: 800px) {
  #introDialog {
    top: 2%;
  }
}

#introDialog.hidden {
  top: -1000%;
  display: block;
}

h1 {
  margin: 0 0 .5em;
  font-weight: bold;
  font-size: 1.5em;
}

#locationSettings select,
#locationSettings input,
#locationSettings button {
  font-size: inherit;
}

.coords {
  width: 15ch;
}

#legalinfo {
  font-size: 0.75em;
}

.dialogButtonLine {
  text-align: center;
}

@media all and (max-width: 450px) {
  body {
    font-size: 0.85em;
  }
  h1 {
    font-size: 1.3em;
  }
  #legalinfo {
    font-size: 0.85em;
  }
}
